header, nav, section, footer {
    display: block;
}

header {
    background-color: yellow;
}

nav {
    background-color: orange;
}

section {
    background-color:  yellowgreen;
}

footer {
    background-color:  deepskyblue;
}
p{
    style : "color:crimson"

}